<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colloque</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="jumbotron jumbotron-fluid" id="cover">
    <div class="container">
        <div id="logo">
            <h1><a href="/">Colloque</a></h1>
        </div>
        <div class="title">
            <h2>Welcome to our online chatting website</h2>
        </div>
        <div class="container" id="chat">
            <div class="row">
                <div class="col-sm">
                    <a href="/col_signup" class="button"><strong>College Chat</strong></a>
                </div>
                <div class="col-sm">
                    <a href="/grp_signup" class="button"><strong>Group Chat</strong></a>
                </div>
                <div class="col-sm">
                    <a href="/ran_signup" class="button"><strong>Random Chat</strong></a>
                </div>
            </div>
        </div>
        <div class="lead">
        <p >Colloque provides free random chat with strangers in private chat rooms.</p>
        <p>And it's free online chat, no registration is needed! Chat with strangers & send pictures in private free chat rooms.<br>
        Meet & talk to strangers from all over the world.</p>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" id="about">
    <div class="container">
        <h1 class="display-4">About Colloque</h1>
    </div>
</div>
<div class="container">
    <div class="borders"></div>
    <br>
    <div class="row">
        <div class="col-md-4">
                <div class="borders">
                    <h2>College chat</h2>
                    <br>
                    <p>It's free online chat. You are going to chat with any stranger of your respective college.
                        Meet & talk to strangers from your college. You have to only enter your college
                        email-id, and we will never share your private details with anyone. To use our free text chatroom,
                        you are accepting our Terms of Usage below</p>
                </div>
        </div>
        <div class="col-md-4">
            <div class="borders">
                <h2>Random chat</h2>
                <br>
                <p>It's free online chat, no registration is needed! Chat with strangers & send pictures in private free chat rooms.
                    You only have to enter your username to chat.
                    Meet & talk to strangers from all over the world. To use our free text chatroom site or video chat site,
                    you are accepting our Terms of Usage below.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="borders">
                <h2>Friends chat</h2>
                <br>
                <p>In future we will be going to give you an option to make a profile here and connect to your friend  where
                    you will be able to make friends of your own choice and where you have an option of video calling.
                    To use our free text chatroom site or video chat site,
                    you are accepting our Terms of Usage below.</p>
            </div>
        </div>
    </div>
</div>
<div class="card-footer text-muted" id="footer">
    <p>Copyright © 2018 - Colloque | Design and developed by
        <a href="https://www.linkedin.com/in/rupesh-yadav-977575137/"  target="_blank" >
            Rupesh yadav
        </a>
    </p>
</div>
</body>



</body>
</html>