body{
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    background: #3d4551;
    /*background-size: auto;*/
}

#cover{
    background: #3d4551;
    height: 100px;
}

#cover p{

    color: #FFF;
}

label .email{
    font-size: 12px;
}

.pick_up{
    text-align: center;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo{
    text-align: center;
}

#logo h1 {
    text-align: center;
    display: inline-block;
    margin-bottom: 0.20em;
    font-size: 3.5em;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}



/*******************************************************/
/* Media Query */
/*******************************************************/

@media screen and (min-width: 1280px) {
    form{
        color: #FFFFFF;
        margin : 1em 10em 0px 10em;
    }

    .lead{
        margin: 20px 10em 0px 10em;
        text-align: center;
    }
}


@media only screen and (min-width : 980px) and (max-width : 1279px){
    form{
        color: #FFFFFF;
        margin : 1em 10em 0px 10em;
    }

    .lead{
        margin: 20px 10em 0px 10em;
        text-align: center;
    }
}

@media only screen and (min-width : 768px) and (max-width : 979px){
    form{
        color: #FFFFFF;
        margin : 1em 0em 0px 0em;
    }

    .lead{
        margin: 20px 0em 0px 0em;
        text-align: center;
    }
}

@media only screen and (min-width : 564px) and (max-width : 767px) {
    form{
        color: #FFFFFF;
        margin : 1em 0em 0px 0em;
    }

    .lead{
        margin: 2em 0em 0px 0em;
        text-align: center;
    }
}

@media only screen and (min-width : 301px) and (max-width : 563px) {
    form{
        color: #FFFFFF;
        margin : 1em 0em 0px 0em;
    }

    .lead{
        margin: 2em 0em 0px 0em;
        text-align: center;
    }
}



@media only screen and (min-width : 240px) and (max-width : 300px) {
    form{
        color: #FFFFFF;
        margin : 1em 1em 0px 1em;
    }

    .lead{
        margin: 1em 0em 0px 0em;
        text-align: center;
    }

}

